[Desktop Entry]
Categories={{categories}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Name={{name}}
StartupNotify=true
StartupWMClass=capscr
Terminal=false
Type=Application
X-KDE-DBUS-Restricted-Interfaces=org.kde.KWin.ScreenShot2
